<nav class="navbar navbar-inverse navbar-fixed-top">
     <a class="navbar-brand" href="#">Better Call Saul Character Selector</a>
</nav>
<div class="container">
     <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
              <img src="images/Better_Call_Saul_logo.png" alt="Better Call Saul Logo" class="img-responsive">
              
                             <section class="characterpage">
                    <div class="search">
                         <h1>Character Selector</h1>
                         <label for="serach">Search: </label>
                         <input ng-model="query" placeholder="Search for characters" autofocus>
                         <br><br>
                         <label class="formgroup">by:
                              <select ng-model="characterOrder">
                                   <option value="name">Name</option>
                                   <option value="reknown">Actor</option>
                              </select>
                         </label>

                         <label class="formgroup">
                              <input type="radio" ng-model="direction" name="direction" checked>
                              ascending
                         </label>

                         <label class="formgroup">
                              <input type="radio" ng-model="direction" name="direction" value="reverse">
                              descending
                         </label>
                    </div>

                    <ul class="characterlist" ng-show="query">
                         <li ng-animate="'animate'" class="character cf" ng-repeat="item in characters | filter:query | orderBy:characterOrder:direction">
                              <a href="#/details/{{characters.indexOf(item)}}">
                                   <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
                                   <div class="info">
                                        <h2>{{item.name}}</h2>
                                        <h3>{{item.reknown}}</h3>
                                   </div>
                              </a>
                         </li>
                    </ul>
               </section>
         </div>
     </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
     <a id="footerBrand" class="navbar-brand" href="#">Created by Danielle Moss  &copy; 2016</a>
</nav>